<h1>Products# Indext</h1>
<%= link_to "Product", "/products/new" %>

<% @products.each do |product| %>
  <p><%= product.name %>, <%= product.description %>, <%= product.price_in_cents %> </p>
<% end %>


